@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   outline: none !important;
}
body {
    background-color: #1F2235;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    color: #fff;

} 

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;

}

a:hover {
    color: #fff;
}

.header-left {
    width: 80px;
    position: fixed;
    bottom: 0;
    top: 0;
    background-color: #14172C;
    border-right: 1px solid rgba(10, 13, 32, 0.1);
    z-index: 9999;
}
.header-left .top a {
    background-color: #ff4a57;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.nav-menu {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav-menu li {
    width: 100%;
}
.nav-menu li+li {
    border-top: 1px solid rgba(255,255,255,0.1)
}

.nav-link {
    text-align: center;
    color: #fff;
    padding: 15px 0;
    transition: all 0.35s ease;
}

.nav-link i {
    font-size: 1.8em;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.nav-link:hover {
    color: #ff4a57;
}
button.hamburger-menu {
    background: none;
    border: none;
}

.mobile-header {
    padding: 15px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;

}

.hamburger-menu {
    width: 40px;
    height: 40px;
    position: relative;
    margin-left: 15px;
    background: #ff4a57;
    margin-left: auto;
}

.hamburger-menu span{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: auto;
    background: #fff;
    color: #fff;
    box-shadow: 0px -8px 0 0 currentColor, 0px 8px 0 0 currentColor;

}

@media (max-width: 768px) {
    .mobile-header {
        display: block;
    }

    .header-left {
        transition: all 0.35s ease;
        left: -200px;
        z-index: 200;
    }

    .header-left.menu-open {
        left: 0;
    }
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner:after {
    content: "";
    position: absolute;
    right: -20vh;
    bottom: -20vh;
    width: 120vh;
    height: 120vh;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.top-fixed {
    position: absolute;
    width: 100%;
    padding: 30px 50px 0;
    top : 0;
    left: 0;
    z-index: 1;
}

.info {
    margin-left: 195px;
}

.info label {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.info label + label {
    margin-left: 40px;
}

.social {
    margin-left: auto;
    font-size: 20px;
}

.social a i {
    margin-right: 10px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    transition: all 0.35s ease;
}

.social a i:hover {
    background-color: #ff4a57;
}

.full-screen {
    min-height: 100vh;
    
}

.main-img {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100%;
    background-size: cover;
    top: 0;
    background-repeat: no-repeat;
    background-position: top left;
}

.box {
    padding: 90px 0 50px;

}
.box h6 {
    font-size: 20px;
    font-weight: 400px;
    margin: 0 0 20px;
}

.box h1 {
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 20px;

}

.box .lead {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.desc {
    max-width: 450px;
}

.btn-bar {
    padding-top: 10px;
}

.btn-bar a {
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    position: relative;
    transition: all 0.35s ease;
}

.btn-bar a:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    widows: 0;
    height: 2px;
    background: currentColor;
    transition: all 0.35s ease;
}

.btn-bar a:hover{
    padding-left: 45px;
}

.btn-bar a:hover:after {
    width: 40px;
}

@media (max-width: 768px) {
    .top-fixed {
        display: none !important;
    }

    .box h6 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    .box h1 {
        font-size: 50px;
        margin: 0 0 10px;
    }

    .lead {
        font-size: 16px;
        margin-bottom: 15px;
    }

}

@media (max-width: 991px) {
    .main-img {
        opacity: 0.4;
        width: 60vw;
    }
}

#about{
    padding-top: 140px;
    margin-bottom: 100px;
}
.about-me {
    position: relative;
}
.about-me img {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    position: relative;

}

.about-me .social-icons {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;

}

.social-icons a {
    width: 45px;
    height: 45px;
    line-height: 41px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    background-color: #1F2235;
    position: relative;
    margin: 0 5px;
    transition: all 0.35s ease;
    transform: scale(1);
}

.social-icons a i {
    line-height: inherit;

}

.social-icons a:hover {
    background-color: #ff4a57;
}

.pic-info {
    text-align: center;
    margin-top: 25px;
}

.about-info {
    padding: 0 20px;
}

.skills {
    padding: 0 20px;
    margin-top: 35px;
}

.title h3 {
    position: relative;
}


.title h3:after {
    content: "";
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    background: #ff4a57;
    position: absolute;
    top: -8px;
    left: -16px;
    z-index: -1;
}

.skills-icons i{
    font-size: 3rem;
    letter-spacing: 15px;
}

#portfolio{
    padding-top: 140px;
    margin-bottom: 100px;
}

.container h2 {
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    margin-bottom: 136px;
}

.container h2:after {
    content: "";
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    background: #ff4a57;
    position: absolute;
    top: 1px;
    left: 47%;
    z-index: -1;
}

.project-img-container {
    z-index: -1;
}

.project-img {
    max-width: 600px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 10px;
    
}

.project-info {
    max-width: 495px;
    
    
}
.project-content-right {
    text-align: right;
}

.project-content-left {
    text-align: left;
}

.right-item {
    transform: translateX(-115px)
}

.featured {
    color: #ff4a57;
    font-weight: 300;
}
.project-info div h3 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 500;
}
.project-desc {
    padding: 20px;
    background: #14172C;
    border-radius: 5px;
    color: #a8b2d1;
    box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.5);
    transition: all 0.35s ease;
}

.project-desc:hover{
    box-shadow: 0 10px 30px -11px rgba(0, 0, 0, 0.7);
}

.project-links a{
    padding: 10px;
    font-size: 1.3rem;
}

.project-tech-list {
    display: flex;
    list-style: none;
    margin: 20px 0 10px;
    position: relative;
    padding: 0;
}

.tech-list-right {
    justify-content: flex-end;
}

.tech-list-left {
    justify-content: flex-start;
}

.tech-list-right li {
    margin: 0 0 5px 20px;
    font-weight: 300;
}

.tech-list-left li {
    margin: 0 20px 5px 0;
    font-weight: 300;
}

.project-item {
    margin-bottom: 140px;
}


/* contact section */

#contact {
    padding-top: 140px;
    margin-bottom: 100px;
}

.say-hello {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.say-hello h3 {
    margin-bottom: 20px;
}

.para {
    max-width: 401px;
    
}

.say-hello a {
    padding: 1.1rem 1.5rem;
    border: 1px solid #fff;
    border-radius: 3px;
    font-weight: 300;
    margin-top: 50px;
    transition: all 0.35s ease;

}

.say-hello a:hover {
    background-color: rgba(255,74,87,0.7)
}

/* preloader */
.preload-wrapper {
    background-color: #242f3f;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.preload{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);

width:50px;
height:50px;
}
.preload hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.preload :first-child{background:#19A68C;animation-delay:-1.5s}
.preload :nth-child(2){background:#F63D3A;animation-delay:-1s}
.preload :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.preload :last-child{background:#193B48}

@keyframes spin{
0%,100%{transform:translate(0)}
25%{transform:translate(160%)}
50%{transform:translate(160%, 160%)}
75%{transform:translate(0, 160%)}
}

/* end of preloader */


footer {
    background-color:#14172C;
    text-align: center;
    padding: 30px;
}

.copyright {
    margin-bottom: 0;
}